.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: lavender;
  border-radius: 10px;
}

h1 {
  font-size: 54px;
  text-transform: uppercase;
}
.text-3xl img {
  width: 40px;
  justify-content: left;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-3xl {
  font-family: Papyrus, fantasy;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-left: 7rem;
  color: blue;
}

.font-bold {
  font-weight: 00;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Todo app section */
.todo-app {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.items-center {
  align-items: center;
}

.ml-2 {
  margin-left: 0.5rem;
}

/* Input and button styles */
.input-field {
  width: calc(100% - 80px);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25rem;
  margin-bottom: 1rem;
}

.select-field {
  width: calc(100% - 80px);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25rem;
  margin-bottom: 1rem;
}

.btn-primary {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25rem;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: #2980b9;

}

/* Task list styles */
.task-list {
  list-style-type: none;
  padding-left: 0;
}

.task-item {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: antiquewhite;
}

.strong {
  font-weight: 700;
}

.em {
  font-style: italic;
  font-weight: 500;
}

.btn-delete {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 25rem;
  cursor: pointer;
  margin-left: 11rem;
}

.btn-delete:hover {
  background-color: #c0392b;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.btn-edit {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25rem;
  cursor: pointer;
  margin-right: 0.25rem;
  margin-left: 0.7rem;
}

.btn-edit:hover {
  background-color: #2980b9;

}